#technology {
  background: url('../../assets/technology/background-technology-desktop.jpg') no-repeat;
  background-size: 100% 100%;
}

#technology .header{
  margin-bottom: 76px;
}

.technology {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 26px 60px;
  justify-content: center;
  padding-left: 165px;
  margin-bottom: 100px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.technology-launch {
  grid-column: 1 / -1;
}

.technology-launch span {
  margin-right: 24px;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.techonolgy-conteudo {
  display: grid;
  grid-template-columns: 1fr;
}

.technology-choose {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 80px;
  align-self: center;
   padding: 0 20px;
}

.technology-dados p {
  margin-bottom: 10px;
}

.technology-name {
  margin-bottom: 18px;
}

.technology-descricao {
  max-width: 444px;
}

.technology-lista{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.technology-lista li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  mix-blend-mode: normal;
}

.technology-lista li:hover {
  border-color: var(--cor-quaternaria);
}

.technology-lista .foguete-ativo {
  background: #FFFFFF;
  color: var(--cor-primaria);
}

.technology-img {
  display: grid;
  justify-items: end;
  align-items: flex-start;
}

.technology-img .img-mobile {
  display: none;
}



@media (max-width: 1370px) {
  .technology{
    padding-left: 40px;
  }
  .technology-choose {
    gap: 40px;
  }
  .technology-name {
    font: 400 40px/48px 'Bellefair', serif;
  }
}

@media (max-width: 1100px) {
  #technology {
    background: url('../../assets/technology/background-technology-tablet.jpg');
    background-size: 100% 100%;
  }
  #technology .header{
    margin-bottom: 40px;
  }
  .technology {
    grid-template-columns: 1fr;
    gap: 56px;
    padding: 0px;
  }
  .technology-launch {
    padding-left: 24px;
    grid-row: 1;
  }
  .technology-img {
    grid-row: 2;
    justify-items: initial;
    width: 100%;
  }
  .techonolgy-img img{
    width: 100%;
  }
  .technology-choose {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 44px;
  }
  .technology-lista {
    flex-direction: row;
  }
  .technology-dados {
    text-align: center;
  }
  .technology-img .img-desktop {
    display: none;
  }
  .technology-img .img-mobile {
    display: block;
    width: 100vw;
  }
}


@media (max-width: 400px) {
  #technology .header{
    margin-bottom: 24px;
  }
  .technology-launch {
    text-align: center;
    padding: 0px;
  }
  .technology-name {
    font-size: 24px;
    line-height: 28px;
  }
  .technology-lista li {
    width: 40px;
    height: 40px;
  }
  .technology-img {
    height: 155px;
  }
}