
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-left: 55px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  padding: 30px 165px 30px 125px;
  position: relative;
}

.menu::before {
  content: '';
  display: inline-block;
  width: 400px;
  height: 1px;
  position: absolute;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  left: -360px;
  bottom: 49px;
}

.menu ul {
  display: flex;
  gap: 48px;
}

.menu li a {
  font: 400 16px/19px 'Barlow Condensed', sans-serif;
  letter-spacing: 2.7px;
  color: var(--cor-quaternaria);
  padding: 8px 0;
  position: relative;
  text-transform: uppercase;
}

.menu li a::after {
  content: '';
  display: block;
  height: 3px;
  width: 0%;
  background: var(--cor-terciaria);
  position: absolute;
  bottom: -32px;
  transition: 0.3s;
}

.menu li a:hover::after, #menu-lista li a.ativo::after {
  width: 100%;
}

.menu-num {
  font-weight: 700;
  margin-right: 5px;
}

#btn-mobile {
  display: none;
  background: transparent;
  border: none;
}

@keyframes menuMobile {
  from {
    transform: translate3d(0, -300px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@media(max-width: 1400px) {
  .menu::before {
    width: 350px;
    left: -300px;
  }
}
@media(max-width: 1270px) {
  .menu::before {
    width: 250px;
    left: -200px;
  }
}
@media(max-width: 1170px) {
  .menu::before {
    display: none;
  }
}

@media(max-width: 1050px) {
  .header {
    padding: 0px 0px 0px 38px;
  }
  .menu {
    padding: 38px 48px;
    backdrop-filter: initial;
  }
  .menu ul {
    gap: 36px;
  }
  .menu li a {
    font-size: 14px;
    line-height: 17px;
  }
  .menu-num {
    display: none;
  }
  .menu li a::after {
    bottom: -35px;
  }
  .menu li a::after {
    bottom: -24px;
  }
}

@media(max-width:660px) {
  .header {
    align-items: initial;
  }
  .logo {
    margin-top: 24px;
  }
  #btn-mobile {
    display: block;
  }
  .menu {
    background: none;
    padding: 32px 26px 32px 32px;
    height: 72px;
    right: 0;
  }
  #menu-lista {
    display: none;
  }

  .menu.menu-ativo #menu-lista {
    display: block;
  }
  .menu-ativo #menu-lista a {
    font-size: 16px;
    line-height: 19px;
  }
  .menu.menu-ativo #menu-lista a::after {
    content: none;
  }

  .menu.menu-ativo {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    width: 70%;
    position: absolute;
    top: 0;
    z-index: 10;
    animation-name: menuMobile;
    animation-duration: .5s;
  }
  .menu-ativo span {
    display: inline-block;
  }
  .menu-ativo #btn-mobile {
    margin-bottom: 40px;
    margin-left: auto
  }
  .menu-ativo ul{
    display: block;
  }
  .menu-ativo ul li {
    margin-bottom: 32px;
  }
}

@media(min-width: 661px) {
  .menu {
    height: 98px !important;
  }
}